<a href="https://colab.research.google.com/github/Smritiiiii/DS_salary_prediction/blob/main/Salary_Predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('sample_data/Salary_Data.csv')
df.head(5)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [ ]:
df= df.drop(['Gender', 'Education Level', 'Years of Experience'], axis =1 )

In [14]:
df.columns

Index(['Age', 'Job Title', 'Salary'], dtype='object')

In [15]:
df.isnull().sum()

Age          2
Job Title    2
Salary       2
dtype: int64

In [17]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
df['Job Title'].fillna(df['Job Title'].mode()[0], inplace=True)

<ipython-input-17-c110f3dcfa42>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-17-c110f3dcfa42>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)
<ipython-input-17-c110f3dcfa42>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Job Title'].fillna(df['Job Title'].mode()[0], inplace=True)

In [18]:
df.isnull().sum()

Age          0
Job Title    0
Salary       0
dtype: int64

In [19]:
df.head(5)

    Age          Job Title    Salary
0  32.0  Software Engineer   90000.0
1  28.0       Data Analyst   65000.0
2  45.0     Senior Manager  150000.0
3  36.0    Sales Associate   60000.0
4  52.0           Director  200000.0

In [ ]:
# to predict, the data should be in numeric form therefore one hot coding
df = pd.get_dummies(df, columns= ['Job Title'])

In [26]:
df.head(5)

,Age,Salary,Job Title_Account Manager,Job Title_Accountant,Job Title_Administrative Assistant,Job Title_Business Analyst,Job Title_Business Development Manager,Job Title_Business Intelligence Analyst,Job Title_CEO,Job Title_Chief Data Officer,...,Job Title_Supply Chain Manager,Job Title_Technical Recruiter,Job Title_Technical Support Specialist,Job Title_Technical Writer,Job Title_Training Specialist,Job Title_UX Designer,Job Title_UX Researcher,Job Title_VP of Finance,Job Title_VP of Operations,Job Title_Web Developer
0,32.0,90000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,28.0,65000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,45.0,150000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,36.0,60000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,52.0,200000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
X = df.drop(columns=['Salary'])
y = df[['Salary']]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

y_pred = linear_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 418220342.40
Mean Absolute Error: 13700.45
R-squared: 0.83

In [33]:
import joblib
joblib.dump(linear_model, 'sample_data/age_salary_prediction_model.pkl')

['sample_data/age_salary_prediction_model.pkl']